/* General page styles */
body {
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Funky font */
  background-color: navy; /* Navy background color */
  color: white; /* Text color */
  margin: 0; /* Reset default margin */
}

h1, header, #blogName {
  background-color: #1d3551; /* Update background color */
  color: white; /* Change text color to white */
  padding: 16px;
  margin: 0; /* Reset default margin */
}

main {
  background-color: #1d3551; /* Darker navy for main section */
  margin-top: 20px; /* Adjust margin-top for better spacing with the Navbar */
}

.homepage-main, .blogPost-main {
  margin-top: 54px; /* Adjust margin-top to accommodate the Navbar height */
}

.user-name {
  background-color: whitesmoke;
  padding: 8px 16px; /* Add padding for better spacing */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Nav styles */
.navBar {
  background-color: #1d3551; /* Update background color */
  margin-bottom: 20px; /* Adjust margin to separate the Navbar from the content */
}

.navbar-brand,
.navbar-nav a,
#logout {
  color: white; /* Change text color to white */
}

#logout {
  background-color: #e5eaf5; /* Update background color */
  padding: 8px 16px; /* Add padding for better spacing */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Button styles */
.btn {
  background-color: #5615ab; /* Update background color */
  color: white; /* Change text color to white */
  padding: 8px 16px; /* Add padding for better spacing */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.btn:hover {
  background-color: #290952; /* Darken background color on hover */
}

/* Card styles */
.card {
  background-color: #e5eaf5;
  margin-bottom: 20px; /* Add margin to separate cards */
  border-radius: 5px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  transition: all 0.3s ease; /* Add transition for smoother hover effect */
}

.card:hover {
  transform: scale(1.05); /* Scale card on hover for depth effect */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Darken box shadow on hover */
}


  